@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .contactinformation-bar .content-box i {
  margin-right: px;
  font-size: 1.2em;
  color: #666666;
}
header .container .contactinformation-bar .content-box.last {
  border: none;
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: block;
  }
}
header .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .socialmedia-bar a:hover {
  color: #7c7c7c;
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  align-items: center;
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases article img {
  width: 100%;
}
.project-and-case .container .project-and-cases article h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases article a {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases article a i {
  margin-left: 3px;
}
.project-and-case .container .center-content {
  margin-top: 40px;
  margin-bottom: 50px;
}

.team-members {
  background-color: #F0D082;
}
.team-members .container .section-title .head-line-1 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.team-members .container .section-title .head-line-2 {
  display: flex;
  justify-content: space-between;
}
.team-members .container .section-title .head-line-2 h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
}
@media (min-width: 768px) {
  .team-members .container .section-title .head-line-2 h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 45px;
  }
}
.team-members .container .section-title .head-line-2 a {
  display: flex;
  align-items: center;
  border-color: #191919;
}
@media (min-width: 768px) {
  .team-members .container .section-title .head-line-2 a {
    display: flex;
    align-items: center;
    border-color: #191919;
  }
}
.team-members .container .head-members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 5px;
}
@media (min-width: 768px) {
  .team-members .container .head-members {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.team-members .container .head-members img {
  width: 100%;
}
.team-members .container .head-members h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding: 20px;
  text-align: left;
}
.team-members .container .head-members p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.client-comments {
  background-color: #F0D082;
  padding-bottom: 80px;
}
.client-comments .container {
  background-color: #FFFFFF;
  padding-bottom: 50px;
}
.client-comments .container .section-title {
  text-align: center;
}
.client-comments .container .comments-from-clients {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px 100px;
  gap: 80px;
}
@media (min-width: 768px) {
  .client-comments .container .comments-from-clients {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.client-comments .container .comments-from-clients .txt-1 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.client-comments .container .txt-2 {
  color: #F94D1C;
  text-align: right;
}
.client-comments .container h3 {
  text-align: right;
}
.client-comments .center-content {
  margin-top: 40px;
  margin-bottom: 50px;
}

.articles-news .container .section-title .article-headline-2 {
  display: flex;
  justify-content: space-between;
}
.articles-news .container .three-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-info-bar {
  background-color: #0E1021;
  color: #FFFFFF;
}
.footer-info-bar .container {
  padding: 60px;
}
.footer-info-bar .container .info-and-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}
.footer-info-bar .container .info-and-links .logo-text {
  padding-right: 150px;
}
.footer-info-bar .container .info-and-links .logo-text img {
  padding: 30px;
}
.footer-info-bar .container p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.footer-info-bar .container h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.footer-bar {
  background-color: #0E1021;
  border-top: 1px solid #FFFFFF;
}
.footer-bar .container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footer-bar .container .rights-bar {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.footer-bar .container .media-social a {
  color: #FFFFFF;
  font-size: 1.3rem;
  margin-left: 10px;
}
.footer-bar .container .media-social a:hover {
  color: #191919;
}